
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>错误</title>
    <link rel="stylesheet" type="text/css" href="~/Content/admin/skin/icon/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/admin/skin/default/style.css" />
    <script type="text/javascript" charset="utf-8" src="~/scripts/jquery/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/Content/admin/js/layindex.js"></script>
    <script type="text/javascript" charset="utf-8" src="/Content/admin/js/common.js"></script>
</head>

<body class="mainbody">
    <form id="form1" runat="server">
        <!--导航栏-->
        <div class="location">
            <a href="javascript:history.back(-1);" class="back"><i class="iconfont icon-up"></i><span>返回上一页</span></a>
            <a href="javascript:;"><i class="iconfont icon-home"></i><span>首页</span></a>
            <i class="arrow iconfont icon-arrow-right"></i>
            <span>管理中心</span>
        </div>
        <!--/导航栏-->
        <!--内容-->
        <div class="line10"></div>
        <div class="nlist-1">
            <p>@ViewBag.msg<a href="javascript:history.back(-1);">返回</a></p>
        </div>
        <!--/内容-->
    </form>
</body>
</html>
